:root {
    --off-white: #faf9f6;
    --background-gray: #ffffff18;
    --background-dark_gray: #00000075;
    --shadow-blue: #03003c;
    --spacing-small: 8px;
    --spacing-small-list: 6px;
    --spacing-medium: 16px;
    --spacing-large: 24px;
}

.fahkwang-light {
    font-family: "Fahkwang", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.fahkwang-regular {
    font-family: "Fahkwang", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fahkwang-medium {
    font-family: "Fahkwang", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.color-offw {
    color: var(--off-white);
}

body {
    margin: 0vh 0vh 0vh 0vh;
    font-family: 'Fahkwang', helvetica, sans-serif;
    text-align: left;    
    background-image: linear-gradient(to bottom, var(--background-gray), var(--background-dark_gray)), url(images/background.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

header {
    text-align: center;
}

header h1 {
    font-size: 7vw;
    font-weight: 400;
    margin-bottom: var(--spacing-small);
    text-shadow: 2px 2px 3px var(--shadow-blue);
}

header h2 {
    font-size: 3vw;
    font-weight: 400;
    margin-top: var(--spacing-small);
    text-shadow: 2px 2px 3px var(--shadow-blue);
}

header h3 {
    font-size: 1.5vw;
    font-weight: 400;
    text-shadow: 2px 2px 3px var(--shadow-blue);
}

#after_header {
    height: 10vh;
}

nav {
    color: var(--off-white);
    font-size: 2vw;
    font-weight: 400;
    text-shadow: 2px 2px 3px  var(--shadow-blue);
}


nav ul {
    list-style-type: none;
    text-align: center;
    margin-bottom: 40vh;
}

nav ul li {
    margin-bottom: var(--spacing-small-list); 
}

nav a {
    text-decoration: none;
    color: var(--off-white);
}

.nav-portrait{
    float: left;
    margin-left: 0px;
    width: 25vw;
    height: auto;
}

section {
    color: var(--off-white);
    text-align: center;
}

section p {
    height: 60vh;
    text-align: left;
    font-size: 1.4vw;
    font-weight: 300;
    line-height: 35px;
    word-spacing: 15px;
}
