:root {
    --off-white : #FAF9F6;
    --background-gray: #2b403420;
    --background-dark_gray: #2b4034;
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 24px;
}

.color-offw {
    color: var(--off-white);
}

* {
    font-family: helvetica, serif;
}

body {
    margin: 0;
    padding: 0;
    text-align: left;    
    background-image: linear-gradient(var(--background-gray), var(--background-dark_gray));
    background-size: auto;
    background-attachment: fixed;
}

header {
    text-align: center;
}

h1 {
    font-size: 7vw;
    margin-bottom: var(--spacing-small);
}

h2 {
    font-size: 3vw;
    margin-top: var(--spacing-small);
}

#test_div {
    height: 1000px;
}
