:root {
    --warm-white: #f6f4e1;
    --background-blue: #091e49;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    background-image: url("./../background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    font-family: 'gascogne_serial-regular';
    color: var(--warm-white);
}