:root {
    --off-white: #faf9f6;
    --background-gray: #ffffff18;
    --background-dark_gray: #00000075;
    --shadow-blue: #03003c;
    --spacing-small: 8px;
    --spacing-small-list: 6px;
    --spacing-medium: 16px;
    --spacing-large: 24px;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  

.fahkwang-light {
    font-family: "Fahkwang", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.fahkwang-regular {
    font-family: "Fahkwang", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fahkwang-medium {
    font-family: "Fahkwang", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.color-offw {
    color: var(--off-white);
}

body {
    font-family: 'Bebas Neue', 'Fahkwang', helvetica, sans-serif;
    margin: 0;
    background-image: linear-gradient(to bottom, var(--background-gray), var(--background-dark_gray)), url(images/background.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

header {
    position: sticky;
    top:0;
    text-align: left;
    z-index: 0;
}

header h1 {
    font-weight: 400;
    font-size: 12vh;
    letter-spacing: 1.5vw;
    line-height: 1em;
    text-shadow: 2px 2px 2px var(--shadow-blue);
    margin: 0;
    padding-top: 30vh;
    padding-bottom: 30vh;
    padding-left: 5vw;
}


nav {
    color: var(--off-white);
    background-color: #001228;
    font-weight: 400;
    text-shadow: 2px 2px 3px  var(--shadow-blue);
    position: sticky;
    top: 0;
    z-index: 1;
}


nav ul {
    list-style-type: none;
    text-align: center;
    font-size: 7vh;
    padding-top: 15vh;
    padding-bottom: 15vh;
    height: 70vh;
    line-height: 14vh;
}

nav a {
    text-decoration: none;
    color: var(--off-white);
}

nav a:hover {
    font-size: 8vh;
    text-shadow: 0px 10px 10px #faf9f65d;
}

section {
    text-align: center;
}

section p {
    color: var(--off-white);
    background-color: #000a15;
    margin:0;
    height: 90vh;
    padding: 5vh;
    text-align: left;
    font-size: 3.5vh;
    font-weight: 300;
    line-height: 35px;
    word-spacing: 15px;
}


.about {
    position: sticky;
    top: 0;
    z-index: 100;
}

.education {
    position: sticky;
    top: 0;
    z-index: 200;
}

.projects {
    position: sticky;
    top: 0;
    z-index: 300;
}

.publications {
    position: sticky;
    top: 0;
    z-index: 400;
}


.contact {
    position: sticky;
    top: 0;
    z-index: 500;
}

